{% extends "base.html" %}

{% block title %}Gerar PDF{% endblock %}

{% block extra_head %}
    <!-- HTMX library -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
{% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center py-5" style="background-color: #536eb3;">
  <div class="col-md-10">
    <div class="card shadow-sm" style="border: none; border-radius: 10px; background-color: #536eb3; color: white;">
      <div class="card-body text-center">
        <h1 class="display-4 mb-4">Converter fotos em PDF</h1>

        {% if user.is_authenticated %}
          <div class="mb-4">
            <h2>Selecionar Template</h2>
            
            {# Debug: Check templates #}
            {% if not templates %}
              <p class="text-danger">Nenhum template encontrado!</p>
            {% endif %}

            <form 
            method="post" 
            class="mb-4" 
            hx-post="{{ request.path }}"
            hx-target="#dynamic-content"
            hx-swap="innerHTML"
        >
            {% csrf_token %}
            <div class="form-group">
                <label for="template" class="mb-2">Escolha um Template:</label>
                <select name="template" id="template" class="form-control">
                    <option value="">Selecione um Template</option>
                    {% for template in templates %}
                        <option value="{{ template.idtemplate_relatorio }}" 
                          {% if template.idtemplate_relatorio == template_selecionado.idtemplate_relatorio %}
                            selected
                          {% endif %}>
                          {{ template.nome }} (ID: {{ template.idtemplate_relatorio }})
                        </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-custom mt-3">Selecionar Template</button>
        </form>

            <!-- Dynamic Content Area -->
            <div id="dynamic-content">
              {% if template_selecionado %}
                {% include 'partials/template_selected.html' %}
              {% endif %}
            </div>
          </div>
        {% else %}
          <div class="login-prompt">
            <h5 class="card-title">Você não está logado</h5>
            <p class="card-text">Faça o login para acessar seu painel.</p>
            <a href="{% url 'login' %}" class="btn btn-custom">Fazer Login</a>
          </div>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}