{% extends "base.html" %}

{% block title %}Administração - {{ site_header }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="text-center mb-4">
        <h1>{{ site_header }}</h1>
    </div>

    <!-- Tabela para exibir os dados de gerenciamento -->
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Área</th>
                <th>Adicionar</th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Autenticação e Autorização</strong></td>
                <td><a href="{% url 'admin:auth_group_add' %}" class="btn btn-custom">Adicionar</a></td>
                <td><a href="{% url 'admin:auth_group_change' %}" class="btn btn-custom">Modificar</a></td>
            </tr>
            <tr>
                <td><strong>Grupos</strong></td>
                <td><a href="{% url 'admin:auth_group_add' %}" class="btn btn-custom">Adicionar</a></td>
                <td><a href="{% url 'admin:auth_group_change' %}" class="btn btn-custom">Modificar</a></td>
            </tr>
            <tr>
                <td><strong>Usuários</strong></td>
                <td><a href="{% url 'admin:auth_user_add' %}" class="btn btn-custom">Adicionar</a></td>
                <td><a href="{% url 'admin:auth_user_change' %}" class="btn btn-custom">Modificar</a></td>
            </tr>
            <tr>
                <td><strong>Reporter</strong></td>
                <td><a href="{% url 'admin:behive_reporter_add' %}" class="btn btn-custom">Adicionar</a></td>
                <td><a href="{% url 'admin:behive_reporter_change' %}" class="btn btn-custom">Modificar</a></td>
            </tr>
            <tr>
                <td><strong>Administradores</strong></td>
                <td><a href="{% url 'admin:behive_reporter_add' %}" class="btn btn-custom">Adicionar</a></td>
                <td><a href="{% url 'admin:behive_reporter_change' %}" class="btn btn-custom">Modificar</a></td>
            </tr>
            <tr>
                <td><strong>Empresas</strong></td>
                <td><a href="{% url 'admin:behive_reporter_add' %}" class="btn btn-custom">Adicionar</a></td>
                <td><a href="{% url 'admin:behive_reporter_change' %}" class="btn btn-custom">Modificar</a></td>
            </tr>
            <tr>
                <td><strong>Fotos</strong></td>
                <td><a href="{% url 'admin:behive_reporter_add' %}" class="btn btn-custom">Adicionar</a></td>
                <td><a href="{% url 'admin:behive_reporter_change' %}" class="btn btn-custom">Modificar</a></td>
            </tr>
            <tr>
                <td><strong>Relatório Finais</strong></td>
                <td><a href="{% url 'admin:behive_reporter_add' %}" class="btn btn-custom">Adicionar</a></td>
                <td><a href="{% url 'admin:behive_reporter_change' %}" class="btn btn-custom">Modificar</a></td>
            </tr>
            <tr>
                <td><strong>Sitios</strong></td>
                <td><a href="{% url 'admin:behive_reporter_add' %}" class="btn btn-custom">Adicionar</a></td>
                <td><a href="{% url 'admin:behive_reporter_change' %}" class="btn btn-custom">Modificar</a></td>
            </tr>
            <tr>
                <td><strong>Tecnicos</strong></td>
                <td><a href="{% url 'admin:behive_reporter_add' %}" class="btn btn-custom">Adicionar</a></td>
                <td><a href="{% url 'admin:behive_reporter_change' %}" class="btn btn-custom">Modificar</a></td>
            </tr>
            <tr>
                <td><strong>Template Relatórios</strong></td>
                <td><a href="{% url 'admin:behive_reporter_add' %}" class="btn btn-custom">Adicionar</a></td>
                <td><a href="{% url 'admin:behive_reporter_change' %}" class="btn btn-custom">Modificar</a></td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock %}
